{% extends 'blog/base.html' %}
{% load bootstrap4 %}
{% block content %}
        <div class="content-section">
        <form method="POST" class="form">
            {% csrf_token %}

            <fieldset class="form-group">
                <legend class="border-bottom"></legend>
                {% bootstrap_form form %}
            </fieldset>
            {% buttons %}
                {% bootstrap_button "Sign Up" button_type="submit" button_class="btn-outline-info" %}
            {% endbuttons %}
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now!</a>
            </small>
        </div>
    </div>
{% endblock %}